/* src/css/Footer.css */

.footer {
    background-color: #4b2e83;
    color: #fff;
    padding: 2rem 0;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
  }
  
  .footer-section {
    margin-bottom: 1.5rem;
    flex: 1;
    padding: 0 1rem;
  }
  
  .footer-section h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
  }
  
  .footer-section ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-section ul li a:hover {
    text-decoration: underline;
  }
  
  .footer-bottom {
    border-top: 1px solid #444;
    padding-top: 1rem;
    margin-top: 1rem;
  }
  
  .social-media {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
  }
  
  .footer-section .social-media li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .social-media li a {
    color: #fff;
    text-decoration: none;
  }
  
  .social-media li a:hover {
    text-decoration: underline;
  }
  
  @media (min-width: 768px) {
    .footer-content {
      flex-direction: row;
      text-align: left;
    }
  
    .footer-section {
      margin-bottom: 0;
    }
  }
  