.login-page {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 2px solid gray;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  }
 
  
  .login-page h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .login-page form {
    display: flex;
    flex-direction: column;
  }
  
  .login-page label {
    margin-bottom: 5px;
  }
  
  .login-page input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .login-page button {
    padding: 10px;
    background-color:  #4b2e83;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  
  