/* signup.css */

.signup-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 40px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center align content */
  }
  
  .signup-container h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .signup-container p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #666;
  }
  
  .role-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .role-button {
    margin-bottom: 20px;
    padding: 14px 32px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .role-button:hover {
    background-color: #0056b3;
  }
  
  .login-link {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .login-link:hover {
    color: #0056b3;
  }
  